##############
# Compiled binaries (vrp_solver_custom.exe)
##############
*.exe
*.out
*.o
*.obj

##############
# Python virtual env
##############
venv/
__pycache__/
*.pyc

##############
# OS / Editor
##############
.DS_Store
.vscode/

##############
# Secrets
##############
.env
